body {
	min-height: 100svh;
	width: 100%;

	padding: 0;
	margin: 0;

	box-sizing: border-box;

	font-family: sans-serif;

	display: flex;
}

#wrapper {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;

	gap: 2rem;
}

@media (min-width: 768px) {
	#wrapper {
	grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}


#counts-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#counts {
	min-width: 75%;
}

#counts > h2 {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#counts > h3 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

textarea {
	resize: none;

	padding: 0.5rem;

	outline: none;
	border: none;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
